body
{
	background: linear-gradient(90deg, rgba(146,142,215,1) 0%, rgba(98,156,207,1) 34%, rgba(7,90,150,1) 71%);
}

.login_div1 , .login_div2
	{
		background: rgba(235, 233, 233, 0.979);
		padding: 10px;
		float: none;
		border-radius: 15px;
	}
#heading1{
	color: white;
}

#player1_name , #player2_name
{
	display: inline-block;
	margin-left: 20px;
}
#answer
{
	width: 60%;
}
#output
{
background: white;
border-radius: 10px;
border-top: 10px solid #AA4465;
padding: 10px;
float: none;
text-align: left;
}
#num1_heading
{
	color:white;
}
#num2_heading
{
	color: white;
}